.main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100%;
	padding: 15px;
	
}

.main h2{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
}

.center{
	width: 500px;
	display: flex;
	justify-content: space-around;
	padding-bottom: 15px;
	border-bottom: 1px solid grey;
}

.result{
	display: flex;
	font-size: 20px;
}

.result p{
	padding: 0 5px
}

.result p:last-child{
	text-decoration: underline;
	background-color: #111ecd;
}